.button {
    -fx-font-weight: bold;
 -fx-background-color:Tansparent;
    -fx-text-fill: white;    
    -fx-border-color:white;
    
}

.label {
    -fx-text-fill: white;
}


.root {
    -fx-background-color: #363636;

}
#WIQI {
 -fx-text-fill:#d87b94;
 -fx-font-size:39px;
-fx-font:system;


   
   }
   
   .radiobutton{
       -fx-text-fill:white;
       
   }